In [1]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect
import datetime as dt
import pandas as pd

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")
inspector = inspect(engine)
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [4]:
measure_columns = inspector.get_columns("measurement")
for col in measure_columns:
    print(col)

{'name': 'id', 'type': INTEGER(), 'nullable': False, 'default': None, 'autoincrement': 'auto', 'primary_key': 1}
{'name': 'station', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'date', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'prcp', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}
{'name': 'tobs', 'type': FLOAT(), 'nullable': True, 'default': None, 'autoincrement': 'auto', 'primary_key': 0}

In [5]:
results = session.query(Measurement.date).all() 
print (max(results))

('2017-08-23',)

In [6]:
for table_name in inspector.get_table_names():
    print(table_name)
   #for column in inspector.get_columns(table_name):
       #print("Column: %s" % column['name'])

measurement
station

## D1: Determine the Summary Statistics for June

In [7]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

june_begin = dt.date(2010, 6, 1)
june_end = dt.date(2017, 6, 30)

In [8]:
#  3. Convert the June temperatures to a list.
year_list = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
june_results_lists = []
for dyear in year_list:
    june_begin = dt.date(dyear, 6, 1)
    june_end = dt.date(dyear, 6, 30)
    results = session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date >= june_begin).\
    filter(Measurement.date <= june_end).all()

    june_results_lists = june_results_lists + results 
    print(f"{dyear}: {len(results)}")

2010: 242
2011: 227
2012: 211
2013: 217
2014: 215
2015: 203
2016: 194
2017: 191

In [9]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_df = pd.DataFrame(june_results_lists, columns=['date','tobs'])
June_Temps= june_df.rename(columns= {"tobs":"June Temps"}, inplace=True)
print(len(june_df))

1700

In [10]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [11]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
december_begin = dt.date(2010, 12, 1)
december_end = dt.date(2017, 12, 31)

In [12]:
# 7. Convert the December temperatures to a list.
year_list = [2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017]
december_results_lists = []
for dyear in year_list:
    december_begin = dt.date(dyear, 12, 1)
    december_end = dt.date(dyear, 12, 31)
    results = session.query(Measurement.date, Measurement.tobs).\
    filter(Measurement.date >= december_begin).\
    filter(Measurement.date <= december_end).all()

    december_results_lists = december_results_lists + results 
    print(f"{dyear}: {len(results)}")

2010: 235
2011: 223
2012: 218
2013: 234
2014: 223
2015: 184
2016: 200
2017: 0

In [15]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_df = pd.DataFrame(december_results_lists, columns=['date','tobs'])
december_Temps= december_df.rename(columns= {"tobs":"December Temps"}, inplace=True)
print(len(december_df))

1517

In [16]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFramed .
december_df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000